.h1 {
    font-size: 5vw;
    color: white;
    display: flex;
    justify-content: center;
}

.h2 {
    font-size: 4vw;
    color: white;
    display: flex;
    justify-content: center;
}

.h3 {
    font-size: 3vw;
    color: white;
    display: flex;
    justify-content: center;
}

.h4 {
    font-size: 2vw;
    color: white;
    display: flex;
    justify-content: center;
}

.h5 {
    font-size: 1vw;
    color: white;
}

.h6 {
    font-size: 0.75vw;
    color: white;
}