/*put input fields of from in center and stacked vertically*/
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.button{
  display: flex;
  flex-direction: space-between;
  align-items: stretch;
}