.h1 {
    font-size: 5vw;
    margin-bottom: 1rem;
    color: white;
    margin-left: 1%;
}

.h2 {
    font-size: 4vw;
    margin-bottom: 1rem;
    color: white;
}

.h3 {
    font-size: 3vw;
    margin-bottom: 1rem;
    color: white;
}

.h4 {
    font-size: 2vw;
    margin-bottom: 1rem;
    color: white;
}

.h5 {
    font-size: 1vw;
    margin-bottom: 1rem;
    color: white;
}

.h6 {
    font-size: 0.75vw;
    margin-bottom: 1rem;
    color: white;
}

.button {
    display: flex;
    justify-content: center;
}

.nextMovie {
    display: flex;
    justify-content: center;
    margin-top: 3rem;
}

.currentlyWatching {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 1rem;
}