.movieBlock {
    flex-shrink: 0;
    /*width: 200px;*/
    margin-right: 10px;
    width: 30%;
    position: relative;

}

.movieBlock img:hover {
    background-color: rgba(0, 0, 0, 0.1); /* Change as needed */
    border: 1px solid #000; /* Change as needed */
}

.movieBlock img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    transition: all 0.3s ease
}

.movieBlock .movieDetails {
    display: none;
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black */
    color: #fff; /* White text */
    width: 100%;
    padding: 10px;
    overflow-wrap: break-word; /* This will break words at the end of the line */
    white-space: normal; /* This will break lines according to normal line breaking rules */
    font-size: 0.8em;
}

.movieBlock:hover .movieDetails {
    display: block;
}

.buttons {
    display: flex;
    justify-content: right;
}

.button {
    border: none;          /* Removes the border */
    background: transparent; /* Makes the background transparent */
    padding: 10px;         /* Adjust padding as needed */
    width: 50px;           /* Specify a width */
    height: 50px;          /* Specify a height */
    outline: none;         /* Removes the focus outline */
    cursor: pointer;       /* Sets the cursor to pointer to indicate it's clickable */
    box-shadow: none;      /* Removes any shadow effects */
    transition: none;      /* Prevents any transition effects that might be inherited */
}

.button:hover, .button:focus, .button:active {
    border: none;          /* Ensures no border appears on hover/focus */
    outline: none;         /* Removes the focus outline on hover/focus */
    background: transparent; /* Keeps background transparent on hover/focus */
    box-shadow: none;      /* Ensures no shadow appears on hover/focus */
}

.button img {
    display: block;       /* Removes any extra space below the image */
    width: 100%;          /* Ensures the image fills the button */
    height: auto;         /* Keeps image aspect ratio */
}
  
