/*.row {*/
/*    display: flex;*/

/*    !*justify-content: space-between;*!*/
/*    !*flex-direction: row;*!*/
/*    overflow-x: auto;*/
/*    scrollbar-width: thin;*/
/*    scrollbar-color: rgba(155, 155, 155, 0.7) transparent;*/
/*}*/

.row {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    overflow-x: auto;
    white-space: nowrap;
    scrollbar-width: none; /* For Firefox */
    -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.row::-webkit-scrollbar {
    display: none; /* For Chrome, Safari and Opera */
}

.title {
    padding-left: 20px;
    color: white;
}