.h1 {
    font-size: 5vw;
    color: white;
}

.h2 {
    font-size: 4vw;
    color: white;
}

.h3 {
    font-size: 3vw;
    color: white;
}

.h4 {
    font-size: 2vw;
    color: white;
}

.h5 {
    font-size: 1vw;
    color: white;
}

.h6 {
    font-size: 0.75vw;
    color: white;
}

.buttonContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 2vw;
}